<html>

<body>
    <script src="/socket.io.min.js"></script>
    <script>
        var socket = io();
        var controlling = false;
        var waitingTime = 0;
        const checkupTime = 1000;
    </script>
    <div id="controlInfo">No connection to Host</div>
    <div>
        Red<br> 0 <input id="rValue" type="range" min="0" max="100" step="1" value="100" oninput="if(controlling) {socket.emit('r', this.value)}" /> 255
    </div><br/>

    <div>
        Green<br> 0 <input id="gValue" type="range" min="0" max="100" step="1" value="100" oninput="if(controlling) {socket.emit('g', this.value)}" /> 255
    </div><br/>

    <div>
        Blue<br> 0 <input id="bValue" type="range" min="0" max="100" step="1" value="100" oninput="if(controlling) {socket.emit('b', this.value)}" /> 255
    </div><br/>
    <script>
        var rSlider = document.getElementById('rValue');
        var gSlider = document.getElementById('gValue');
        var bSlider = document.getElementById('bValue');

        var controlInfo = document.getElementById('controlInfo')

        var toggleSliders = function(control) {
            rSlider.disabled = !control;
            gSlider.disabled = !control;
            bSlider.disabled = !control;
        }

        //toggle sliders initially
        toggleSliders(controlling);

        //set intial slider values
        socket.on('initialize', function(msg) {
            rSlider.value = msg.r;
            gSlider.value = msg.g;
            bSlider.value = msg.b;
        });

        //lock sliders if user is not in control
        socket.on('controlling', function(msg) {
            controlling = msg.control;
            toggleSliders(controlling);

            //set control info
            if (controlling) {
                controlInfo.textContent = "Du kontrollierst die Chaos-Leds! Tob dich aus!";
            } else {
                //check if waiting time is still correct, if not, change it
                if (waitingTime !== msg.waitingTime) {
                    waitingTime = Math.floor(msg.waitingTime / 1000);
                }
            }
        });

        //transmit slider values if user is controlling
        socket.on('r', function(msg) {
            rSlider.value = msg;
        });
        socket.on('g', function(msg) {
            gSlider.value = msg;
        });
        socket.on('b', function(msg) {
            bSlider.value = msg;
        });

        //if client is not controlling, periodically check if control has been given to client
        var controllerCheck = function() {
            if (!controlling) {
                console.log("Checking for Controller change...");
                socket.emit('controllercheck', {});
            }
            setTimeout(
                controllerCheck, checkupTime);
        }

        controllerCheck();

        //set waiting timer
        var waitingTimer = function() {
            if (!controlling) {
                controlInfo.textContent = waitingTime + " Sekunden, bis du Led-Meister wirst!";
                --waitingTime;
            }
            setTimeout(waitingTimer, 1000);
        }

        waitingTimer();
    </script>
</body>

</html>
